Row(
    style: (
        id: Some("main_row"),
        width: Px(400.0),
        height: Px(100.0),
        padding: Px(8.0),
        background: Rgba(0.1, 0.1, 0.1, 0.9),
    ),
    justify: SpaceBetween,
    children: [
        Label(
            content: "Hello World",
            style: (
                id: Some("text_hello"),
                color: Some(Rgba(1.0, 0.0, 0.0, 1.0)),
                font_size: Some(24.0),
                margin: Px(10.0),
                font_family: Some("weiholmir"),
                text_align: Some(Center),
            )
        ),
        Column(
            span: 4,
            style: (
                id: Some("col_1"),
                background: Variable("uncommon-moss"),
            ),
        ),
        Column(
            span: 4,
            style: (
                id: Some("col_2"),
                background: Variable("mana-sky"),
            ),
        ),

    ]
)
