Row(
    style: (
        width: Px(400.0),
        height: Px(100.0),
        padding: Px(8.0),
        background: Rgba(0.1, 0.1, 0.1, 0.9),
    ),
    justify: SpaceBetween,
    children: [
        Column(
            span: 4,
            style: (
                background: Variable("accent"),
            ),
        ),
        Column(
            span: 4,
            style: (
                background: Variable("uncommon-moss"),
            ),
        ),
        Column(
            span: 4,
            style: (
                background: Variable("mana-sky"),
            ),
        ),
    ]
)
